*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url('./pages/img/fundo.jpg'); 
    background-position: center top ;
    background-repeat: no-repeat;
    background-size: auto;

    color: white;
    width: 100%;
    font-family: sans-serif;
}

button{
    cursor: pointer;
}